Biblioteca.Presentación/Service References/Servicio/TiendaOnline.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TiendaOnline" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49373/TiendaOnline.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49373/TiendaOnline.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49373/TiendaOnline.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Biblioteca" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITiendaOnline_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_CalcularEstadisticas_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularEstadisticas" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_CalcularEstadisticas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularEstadisticasResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ListarProductosFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosFiltro" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ListarProductosFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ActualizarProdcuto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProdcuto" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_ActualizarProdcuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProdcutoResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_LeerProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerProductos" />
  </wsdl:message>
  <wsdl:message name="ITiendaOnline_LeerProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="ITiendaOnline">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/GetData" message="tns:ITiendaOnline_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/GetDataResponse" message="tns:ITiendaOnline_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/GetDataUsingDataContract" message="tns:ITiendaOnline_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/GetDataUsingDataContractResponse" message="tns:ITiendaOnline_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/ValidarUsuario" message="tns:ITiendaOnline_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/ValidarUsuarioResponse" message="tns:ITiendaOnline_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularEstadisticas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/CalcularEstadisticas" message="tns:ITiendaOnline_CalcularEstadisticas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/CalcularEstadisticasResponse" message="tns:ITiendaOnline_CalcularEstadisticas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/ListarProductos" message="tns:ITiendaOnline_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/ListarProductosResponse" message="tns:ITiendaOnline_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductosFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/ListarProductosFiltro" message="tns:ITiendaOnline_ListarProductosFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/ListarProductosFiltroResponse" message="tns:ITiendaOnline_ListarProductosFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/CrearProducto" message="tns:ITiendaOnline_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/CrearProductoResponse" message="tns:ITiendaOnline_CrearProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProdcuto">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/ActualizarProdcuto" message="tns:ITiendaOnline_ActualizarProdcuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/ActualizarProdcutoResponse" message="tns:ITiendaOnline_ActualizarProdcuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/EliminarProducto" message="tns:ITiendaOnline_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/EliminarProductoResponse" message="tns:ITiendaOnline_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiendaOnline/LeerProductos" message="tns:ITiendaOnline_LeerProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiendaOnline/LeerProductosResponse" message="tns:ITiendaOnline_LeerProductos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITiendaOnline" type="tns:ITiendaOnline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularEstadisticas">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/CalcularEstadisticas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosFiltro">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/ListarProductosFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProdcuto">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/ActualizarProdcuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerProductos">
      <soap:operation soapAction="http://tempuri.org/ITiendaOnline/LeerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiendaOnline">
    <wsdl:port name="BasicHttpBinding_ITiendaOnline" binding="tns:BasicHttpBinding_ITiendaOnline">
      <soap:address location="http://localhost:49373/TiendaOnline.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>